<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.11.3.min.js')}}"></script>
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
<script type=text/javascript>
  $(function() {
    $('button#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data, status, jqXHR) {
        $("#result").text(data + status + jqXHR.responseText);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><button id="calculate" type="button">Submit</button>
</body>
</html>