<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <script type="text/javascript" src="{{url_for('static', filename='angular.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    </head>
    <body>
        <div id="authorize-div" style="display: none">
            <span>Authorize access to Drive API: </span>
            <!--Button for the user to click to initiate auth sequence -->
            <button id="authorize-button" onclick="handleAuthClick(event)">
            Authorize
            </button>
        </div>
    <pre id="output"></pre>

        <form name="restoreForm" ng-controller="restoreFormController">
                    Keyword: <input type="text" ng-model="params.keyword"/> </br>
                    Date:   <select autofocus ng-model="params.dateOperator">
                                <option value="<">Less than</option>
                                <option value="=">Equal to</option>
                                <option value=">">Greater than</option>
                            </select> 
                    <input type="datetime" ng-model="params.date"/> </br>
                    Modifying User: <input type="text" ng-model="params.modifyingUser"/> <br>
                    <input type="submit" ng-click="addParams(params)" value="Submit"/>
                <blockquote>
                    <b>submitted: {{ restore_params|angular }}</b>
                </blockquote>
        </form>

    </body>
</html>